#all .moqa-head {
  position: relative;
  height: 380px;
  background: url('../img/header.png') center center repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.moqa-header {
  margin-left: 0;
  margin-right: 0;
}

.moqa-description {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.moqa-logo {
  font-family: "SF Grandezza";
  font-weight: lighter;
  font-size: 92px;
  color: white;
  margin-top: 50px;
}

.moqa-logo-nav {
  height: 46px;
}

#all {
  text-align: center;
}

body {
  background-color: #eee;
}

.navbar-affixed-top.affix {
  width: auto;
}

#footer {
  background-color: #465685;
  min-height: 150px;
}

.moqa-app-links {
  display: inline-block;
}

.moqa-contacts {
  color: #eee;
  margin-top: 12px;
}

.moqa-big .moqa-feature-desc-container {
  margin-top: 200px;
}

.moqa-feature-icon > .fa {
  margin-left: 3px;
  margin-top: 18px;
  font-size: 40px;
}

a, a:hover, a:active, a:visited {
  color: #92beef;
}

.moqa-screen-gif {
  top: 82px;
  left: -2px;
  position: relative;
}

.moqa-screen-gif-container {
  background: url('../img/iphone524.png') center center repeat;
  background-size: cover;
  width: 404px;
  height: 741px;
  margin: 0 auto;
}

.moqa-features {
  padding-top: 50px;
  background-color: white;
}

.moqa-feature-desc {
  /*top: 250px;*/
}

.moqa-features .moqa-header-text{
  margin-bottom: 100px;
}

.moqa-feature-desc .moqa-feature-icon {
  color: #92beef;
}

.navbar > .container .navbar-brand.home {
  margin-left: 50px;
}

#all #contact {
  padding-bottom: 50px;
}

.test-rail-logo {
  margin-top: 5px;
}

.moqa-header-text {
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 40px;
  max-height: 100px;
}

.moqa-supported-systems {
  background-color: #f5f5f5;
  padding: 60px 60px 100px;
}

.moqa-coming-soon {
  background-color: white;
  padding: 60px;
}

.moqa-kanoah a {
  font-size: 36px;
}

.moqa-kanoah a:hover, .moqa-kanoah a:active, .moqa-kanoah a:visited, .moqa-kanoah a:focus {
  text-decoration: none;
}

.moqa-usecases-title {
  background-color: #fff;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.moqa-usecases-title h4 {
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

.moqa-usecases-list {
  background-color: #fff;
}

.moqa-usecase-row img {
  width: 250px;
}

.moqa-usecase-image {
  text-align: center;
}

.moqa-usecase-text {
  margin-top: 25px;
}

.moqa-usecase-row {
  padding: 15px;
  margin-left: 0;
  margin-right: 0;
  border-top: 2px solid gray;
  text-align: justify;
}

.moqa-usecase-row p {
  font-size: 16px;
}

.moqa-usecases-footer {
  font-size: 16px;
  background-color: #f5f5f5;
  padding: 15px;
  border-top: 2px solid gray;
}

#contact {
  background-color: white;
  font-size: 18px;
}

#contact form {
  font-size: 14px;
}

.moqa-contact-title {
  padding: 20px;
}

.moqa-div {
  padding: 20px 50px;
  background-color: white;
  font-size: 16px;
  text-align: justify;
}

.moqa-div h1, .moqa-div h2, .moqa-div h3, .moqa-div h4{
  text-align: center;
  padding: 15px;
}